[submodule "zeabus_utility"]
	path = zeabus_utility
	url = https://github.com/zeabusTeam/zeabus_utility.git
	branch = master
[submodule "zeabus_elec"]
	path = zeabus_elec
	url = http://github.com/zeabusTeam/zeabus-elec-code.git
	branch = robot
[submodule "zeabus_vision"]
	path = zeabus_vision
	url = git@github.com:zeabusTeam/zeabus_vision.git
	branch = master
[submodule "zeabus_mission"]
	path = zeabus_mission
	url = https://github.com/zeabusTeam/zeabus_mission.git
[submodule "zeabus_testing"]
	path = zeabus_testing
	url = https://github.com/zeabusTeam/zeabus_testing.git
	branch = master
